<nav>
    <div>
        logo
    </div>
    <div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <a href="">home</a>
        <a href="">bill</a>
        <a href="">logout</a>
    </div>
</nav>