<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <%-include('partials/navbar')%>
    </div>
    
    <div class="aabody">
        <div class="achead">
            <H2>Add Customer</H2>
        </div>
    <div class="abody">
            <div class="aleft">
                <div class="fields">
                    <label for="name">Name:</label>
                    <input type="text" name="names" id="name" required>
                </div>
                <div class="fields">
                    <label for="fathername">Father name:</label>
                    <input type="text" name="father name" id="fathername" required >
                </div>
                <div class="fields">
                    <label for="dob">Date Of Birth:</label>
                    <input type="date" name="dob" id="dob" required>
                </div>
                <div class="fields">
                    <label for="phonenumber">Phone No:</label>
                    <input type="tel" name="phone number" id="phonenumber" placeholder="eg. 91+1234567890" required>
                </div>
                <div class="fields">
                    <label for="occupation">Occupataion:</label>
                    <input type="text" name="occupation" id="occupation" required>
                </div>
            </div>
            <div class="aright">
                <div class="fields">
                    <label for="address">Address:</label>
                    <textarea name="address" id="address" required></textarea>
                </div>       
            </div>
                 
    </div>
    <div class="regibtn">
                    <button onclick="register()" id="regibtn">register</button>
                 </div> 
    </div>
    
            
</body>
<script src="script.js"></script>
</html>