<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navs">
        <%-include('partials/navbar')%>
    </div>
    <div class="backbtn">
        <a href="/dashboard"><button>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
        </button></a>
    </div>
    <div class="aabody">
         <div class="achead">
            <H2>Add Customer</H2>
        </div>
        <form action="/add" method="POST" enctype="multipart/form-data">
            <div class="abody">
                
                    <div class="aleft">
                        <div class="fields">
                            <label for="name">Name<strong>*</strong></label>
                            <input type="text" name="name" id="name" placeholder="Enter full name"  class="aa">
                        </div>
                        <div class="fields">
                            <label for="fathername">Father name<strong>*</strong></label>
                            <input type="text" name="father_name" id="fathername" placeholder="Enter father name" class="aa">
                        </div>
                        <div class="fields">
                            <label for="dob">Date Of Birth<strong>*</strong></label>
                            <input type="date" name="date_of_birth" id="dob" class="aa">
                        </div>
                        <div class="fields">
                            <label for="phonenumber">Phone No<strong>*</strong></label>
                            <input type="tel" name="phone_number" id="phonenumber" placeholder="eg. 9234567890" class="aa" >
                        </div>
                        <div class="fields">
                            <label for="occupation">Occupation<strong>*</strong></label>
                            <input type="text" name="occupation" placeholder="Enter occupation" id="occupation" class="aa">
                        </div>
                        <div class="fields">
                            <label for="customerphoto">Customer Photo<strong>*</strong></label>
                            <input type="file" name="photo" id="customerphoto"  accept="image/*" required>
                        </div>
                    </div>
                    <div class="aright">
                        <div class="fields">
                            <label for="address">Address<strong>*</strong></label>
                            <textarea name="address" id="address" placeholder="Enter communication address" class="aa"></textarea>
                        </div>       
                    </div>
                        
            </div>
            <div class="regibtn">
                <button onclick="register()" id="regibtn" type="submit">Register</button>
                <button type="reset" id="regibtn">Reset</button>
            </div> 
        </form>
    </div>
    
            
</body>
<script src="script.js"></script>
</html>