<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <div class="dashheads">
            <div class="date">
                <h4 id="datetime"> </h4>
            </div>
            <div class="headings">
                <h2>Sri Sivasakthi Gold Bankers</h2>
            </div>
            <div class="username">
                <h4><label for="user">saravanan</label></h4>
            </div>   
        </div>
    </div>
</body>
<script src="script.js"></script>
</html>