<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <%-include('partials/navbar')%>
    </div>
    <div class="backbtn">
        <a href="/customerdetails/<%=customerid%>"><button>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
        </button></a>
    </div>
    <form action="/addrecorddetails" method="post" enctype="multipart/form-data">
    <div class="aabody">
        <div class="achead">
            <h2>Add Record</h2>
        </div>
        <div class="abody">
            
            <div class="aleft">
                 <div class="fields">
                    <label for="ip">Customer id </label>
                    <input type="text" id="customerId" name="customerId" placeholder="customer id" value="<%=customerid%>" required readonly>
                </div>
                <div class="fields">
                    <label for="ip">Product name</label>
                    <input type="text" id="productName" name="productName" placeholder="Enter product name" required>
                </div>
                <div class="fields">
                    <label for="productType">Product type</label>
                    <select name="productType" id="productType" required>
                        <option value="">select product type</option>
                        <option value="gold">gold</option>
                        <option value="silver">silver</option>
                        <option value="diamond">diamond</option>
                    </select>
                </div>
                <div class="fields">
                    <label for="ipe">Product weight</label>
                    <input type="text" id="productWeight" name="productWeight" placeholder="weight" required>
                </div>
                <div class="fields">
                    <label for="ips">Estimated amount</label>
                    <input type="text" id="estimatedAmount" name="estimatedAmount" placeholder="Enter loan amount" required>
                </div>
                <div class="fields">
                    <label for="ips">Loan amount</label>
                    <input type="text" id="loanAmount" name="loanAmount" placeholder="Enter loan amount" required>
                </div>
                <div class="fields">
                    <label for="ipp">Interest rate</label>
                    <input type="text" id="intrestRate" name="intrestRate" placeholder="Enter interest rate" required>
                </div>
                <div class="fields">
                    <label for="ipd">Due date</label>
                    <input type="date" name="dueDate" id="dueDate" placeholder="Enter due date" required>
                </div>
                 <div class="fields">
                    <label for="ipd">Product photo</label>
                    <input type="file" name="productPhoto"  id="productPhoto" accept="image/*" placeholder="Enter due date" required>
                </div>
            </div>
            
        </div>
        <div class="regibtns">
                <button onclick="sub()" id="regibtn">Add Record</button>
        </div>
        
    </div></form>
    
</body>
<script src="/script.js"></script>
</html>