<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="aabody">
    <div class="abody">
        <div class="aleft">
            <form action="/areg" method="post">
                <div class="fields">
                <input type="text" placeholder="Enter name:" name="Name">
                </div>
                <div class="fields">
                <input type="text" placeholder="Enter password:" name="password">
                </div>
                <div class="regibtn">
                <button>register</button>
                </div>  
            </form>
        </div>
    </div>
    </div>
</body>
</html>