<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
        <div class="navs">
            <%-include('partials/navbar')%>
        </div>
        <div class="cdhead">
            <div class="cphoto"> 
                <img src="/icons/history.svg" alt="">
            </div>
            <div class="cdbody">
                <div id="detailscd">
                    <h2>pramoth kumar</h2>
                </div>
                <div id="detailscd">
                    <label for=""><b>age:</b></label>
                    <p> 24</p>
                </div>
                <div id="detailscd">
                    <label for=""><b>fathername:</b></label>
                    <p> kannan</p>
                </div>
                <div id="detailscd">
                    <label for=""><b>phone no.:</b></label>
                    <p> 1234567890</p>
                </div>
                <div id="detailscd">
                    <label for=""><b>address:</b></label>
                    <p>23/2 vandipettai street,aj hospital near,manapparai (tk), manapparai, trichy tamilnadu</p>
                </div>
            </div> 
            <div class="cdaddpawn">
                <button>add pawn</button>
            </div>
        </div>
           
</body>
<script src="script.js"></script>
</html>