<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
       <%-include('partials/navbar')%>
    </div>
        <div class="tpdisplaym">
            <div class="acheadc">
                <div class="addhs">
                    <h2>History</h2>
                </div>
            </div>
            <table>
                <thead>
                    <tr> 
                        <th>Customer id</th>
                        <th>product id</th>
                        <th>Product Name</th>
                        <th>Product type</th>
                        <th>Pawn date</th>
                        <th>amount</th>
                        <th>customer details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>55</td>
                        <td>55</td>
                        <td>55</td>
                        <td>55</td>
                        <td>55</td>
                        <td>55</td>
                        <td>55</td>
                    </tr>
                </tbody> 
            </table>
        </div>
    
</body>
<script src="/script.js"></script>
</html>