<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="lbody">
        <div class="loginbox">
            <h2>login</h2>
            <form action="/login" method="post">
                <div class="inps">
                    <input type="text" id="userid" placeholder="enter username" required>
                </div>
                <div class="inps">
                    <input type="password" id="password" placeholder="enter password" required>
                </div>
                <div>
                    <button type="submit" >login</button>
                </div>
            </form>
        </div>
   </div>
</body>
</html>