<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navs">
        <%-include('partials/navbar')%>
    </div>
    <div class="achead">
        <h2>Total Pawns</h2>
    </div>
    <div>
        <div class="tpdisplay">
        <table>
            <thead>
                <tr>
                    <th>Customer Phone No.</th>
                    <th>Customer Name</th>
                    <th>Product</th>
                    <th>date</th>
                    <th>amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9952787214</td>
                    <td>pramoth</td>
                    <td>gold ring,bracelate,neckless</td>
                    <td>22/052025</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>9952787214</td>
                    <td>pramoth</td>
                    <td>gold ring</td>
                    <td>22/052025</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>9952787214</td>
                    <td>pramoth</td>
                    <td>gold ring</td>
                    <td>22/052025</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>9952787214</td>
                    <td>pramoth</td>
                    <td>gold ring</td>
                    <td>22/052025</td>
                    <td>2000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h1>Total:</h1>
    </div>
     </div>
</body>
<script src="script.js"></script>
</html>