<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navs">
        <%-include('partials/navbar')%>
    </div>
    <div class="achead">
        <h2>Total Customers</h2>
    </div>
    <div class="tcbody">
        <a href="customerdetails">
        <div class="mcard">
            <div class="ccards">
                <div class="cchead">
                    <!--<img src="/icons/history.svg" alt="">-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                    <div id="details">
                        <h2>pramoth kumar</h2>
                    </div>
                </div>
                <div class="ccbody">
                    
                    <div id="details">
                        <label for=""><b>age:</b></label>
                        <p> 24</p>
                    </div>
                    <div id="details">
                        <label for=""><b>fathername:</b></label>
                        <p> kannan</p>
                    </div>
                    <div id="details">
                        <label for=""><b>phone no.:</b></label>
                        <p> 1234567890</p>
                    </div>
                    <div id="details">
                    <label for=""><b>address:</b></label>
                    <p>23/2 vandipettai street,aj hospital near,manapparai (tk), manapparai, trichy tamilnadu</p>
                </div>
                </div>
            </div>
        </div></a>
    </div>
</body>
<script src="script.js"></script>
</html>